# venv
.venv/

# cache
__pycache__/

# IDE's trash
.idea/
.vscode/

# images
*.png
*.svg

!data/samples/**


# Rust  /  Pyo3
screen_objects/target/
screen_objects/Cargo.lock

# local device ip
data/device_ip.txt
